body {
    font-family: sans-serif;
    text-align: center;
    background-color: lightblue;
  
  }
  
  .container {
    position: relative;
  }
  
  input[type="number"] {
    width: 50px;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #canvas {
    display: block;
    margin: 20px auto;
    border: 2px solid #000;
  }
  
  input[type="number"],
  button {
    margin-top: 10px;
  }